doctype html
html
    head
        title=D10
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/landing.css")
    body
        script(src="/static/landing.js")
