doctype html
html
  head
    title=D10
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/static/main.css")
    block style
  body
    div#content
      block content
    script(src="https://code.jquery.com/jquery-3.6.0.js", crossorigin="anonymous")
    block scripts