extends layout.pug

block style

block scripts
  
block content
  form(method="post")
    input#player-name(placeholder="Character Name", name="charName", required, autofocus, value=charName)
    button(type=submit) Go