
#player-name {
  display: block;
  margin-bottom: .25rem;
}

#dice-roll-area {
  display: inline-table;
  background-color: white;
  margin-top: 1rem;
  border-radius: 15px;
  border: 1px solid rgb(60, 60, 60);
  height: 10rem;
  width: 19rem;
  padding: .25rem;
}

.dice {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 228, 202);
  min-height: 3rem;
  width: 3rem;
  border: 2px solid rgb(60, 60, 60);
  border-radius: 15px;
  margin: .25rem;
  cursor: pointer;
}

  .dice.highlight {
    border-color: dodgerblue;
  }

  .dice.leftover {
    border-color: red;
  }

  .dice span {
    font-size: 2rem;
  }

#raises {
  text-align: right;
  width: 16rem;
}

.value {
  margin-left: 1rem;
  font-family: monospace;
  font-weight: bold;
  font-size: 2rem;
}

.log-element {
  margin-right: 1rem;
}
.player-name {
  font-weight: bold;
}

.roller-input {
  margin-bottom: 0.5rem;
}

  .roller-input select {
    width: 12rem;
    margin-right: 0.5rem;
  }

  .roller-input input {
    width: 3rem;
    text-align: center;
}

#char-rows {
  width: 40rem;
  border-collapse: collapse;
  margin-top: 3rem;
  background-color: white;
  font-size: 20px;
}

  #char-rows td, #char-rows th {
    border: 1px solid rgb(60, 60, 60);
    padding: .25rem .5rem;
  }
  #char-rows .numeric {
    width: 4rem;
  }
    #char-rows .numeric input {
      width: 3rem;
      text-align: center;
      padding: 0.25rem 0.5rem;
    }
  #char-rows td.numeric {
    text-align: right;
  }