body {
  background-color:rgb(239, 239, 239);
}

#content {
  margin: 1rem;
  color: rgb(60, 60, 60);
  padding: 1rem;
}


#dice-count, button, #raises {
  font-size: 1.5rem;
  border-radius: 15px;
  padding: .5rem;
}

button {
  background-color: rgb(224, 224, 253);
  width: 5rem;
}

#dice-count {
  width: 6rem;
  border: 1px solid rgb(60, 60, 60);
  border-width: 1px;
  margin-bottom: .25rem;
  margin-right: .25rem;
}

#dice-roll-area {
  display: inline-table;
  background-color: white;
  margin-top: .25rem;
  border-radius: 15px;
  border: 1px solid rgb(60, 60, 60);
  height: 20rem;
  width: 19rem;
  padding: .25rem;
}

.dice {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 228, 202);
  min-height: 3rem;
  width: 3rem;
  border: 2px solid rgb(60, 60, 60);
  border-radius: 15px;
  margin: .25rem;
  cursor: pointer;
}

  .dice.highlight {
    border-color: dodgerblue;
  }

  .dice.leftover {
    border-color: red;
  }

  .dice span {
    font-size: 2rem;
  }

#raises {
  text-align: right;
  width: 16rem;
}

.value {
  margin-left: 1rem;
  font-family: monospace;
  font-weight: bold;
  font-size: 2rem;
}