body {
  background-color: rgb(239, 239, 239);
}

#content {
  margin: 1rem;
  color: rgb(60, 60, 60);
  padding: 1rem;
}

input, select, button, .key-text {
  font-size: 1.5rem;
  border-radius: 15px;
  padding: .5rem;
}

button {
  background-color: rgb(224, 224, 253);
  margin-left: 0.5rem;
}

.small {
  width: 5rem;
}
.medium {
  width: 15rem;
}