<div>
  <mat-form-field>
    <mat-label>Trait</mat-label>
    <mat-select [(value)]="selectedTrait">
      <mat-select-trigger>
        <mat-icon> {{selectedTrait?.icon}} </mat-icon>
        {{selectedTrait?.name}}
      </mat-select-trigger>
      <mat-option *ngFor="let trait of TRAITS" [value]="trait">
        <mat-icon> {{trait.icon}} </mat-icon>
        {{trait.name}}
        <span class="secondary-text">{{trait.description}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Skill</mat-label>
    <mat-select [(value)]="selectedSkill">
      <mat-select-trigger>
        <mat-icon> {{selectedSkill?.icon}} </mat-icon>
        {{selectedSkill?.name}}
      </mat-select-trigger>
      <mat-option *ngFor="let skill of SKILLS" [value]="skill">
        <mat-icon> {{skill.icon}} </mat-icon>
        {{skill.name}}
        <span class="secondary-text">{{skill.description}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="dice-roll-area">
  </div>
</div>
