<div>
  <mat-form-field>
    <mat-label>Your Team</mat-label>
    <mat-select>
      <mat-select-trigger>
        <img with="10" height="10" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg">
        catewef
      </mat-select-trigger>
      <mat-option value="cat">
        <img with="10" height="10" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg">
        cat1
        <span style="font-size:9px; color: gray;">description</span>
      </mat-option>
    </mat-select>
    </mat-form-field>
    <div class="dice-roll-area">
    </div>
</div>
